.wrapper {
  composes: padding-half from "../../styles/layout.css";
  composes: flex-item from "../../styles/layout.css";
}

.door {
  width: 100%;
  height: 30vh;
  composes: padding-half from "../../styles/layout.css";
  composes: color-mono-lightest from "../../styles/colors.css";

  background-image: url("https://i.ytimg.com/vi/cQNACPPGUA8/maxresdefault.jpg");
  background-size: cover;
  background-position: center;
}

.goat {
  background-image: url("https://3.bp.blogspot.com/-VwUqIP3L5zA/TWY1S8hzgHI/AAAAAAAABIE/jSXUbqykwGg/s1600/TOP-STORY-3-GOAT.jpg");
}

.treasure {
  background-image: url("https://i.ytimg.com/vi/ixwNbX9ar44/maxresdefault.jpg");
}

.selected {
  box-shadow: 0 .56rem 1.69rem rgba(17,17,17,0.78),0 0 1.69rem rgba(17,17,17,0.82);
}
