@import '_tools/layout';

@each $bp-label, $bp in $breakpoint-map {
  
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    @each $label, $length in $spacing-map {
      // Margin
      .margin-#{$label}#{$bp-label-final} { margin: $length; }
      .margin-t-#{$label}#{$bp-label-final} { margin-top: $length; }
      .margin-r-#{$label}#{$bp-label-final} { margin-right: $length; }
      .margin-b-#{$label}#{$bp-label-final} { margin-bottom: $length; }
      .margin-l-#{$label}#{$bp-label-final} { margin-left: $length; }
      
      .margin-x-#{$label}#{$bp-label-final} {
        margin-right: $length;
        margin-left: $length;
      }
      
      .margin-y-#{$label}#{$bp-label-final} {
        margin-top: $length;
        margin-bottom: $length;
      }

      // Padding
      .padding-#{$label}#{$bp-label-final} { padding: $length; }
      .padding-t-#{$label}#{$bp-label-final} { padding-top: $length; }
      .padding-r-#{$label}#{$bp-label-final} { padding-right: $length; }
      .padding-b-#{$label}#{$bp-label-final} { padding-bottom: $length; }
      .padding-l-#{$label}#{$bp-label-final} { padding-left: $length; }
      
      .padding-x-#{$label}#{$bp-label-final} {
        padding-right: $length;
        padding-left: $length;
      }
      
      .padding-y-#{$label}#{$bp-label-final} {
        padding-top: $length;
        padding-bottom: $length;
      }
    }
  }

  // Auto margin classes that only need breakpoint vars

  .margin-x-auto#{$bp-label-final} {
    margin-right: auto;
    margin-left: auto;
  }

  .margin-y-auto#{$bp-label-final} {
    margin-top: auto;
    margin-bottom: auto;
  }

  .margin-t-auto#{$bp-label-final} { margin-top: auto; }
  .margin-r-auto#{$bp-label-final} { margin-right: auto; }
  .margin-b-auto#{$bp-label-final} { margin-bottom: auto; }
  .margin-l-auto#{$bp-label-final} { margin-left: auto; }
}

.flex { display: flex; }
.inline-flex { display: inline-flex; }

.flex-item { flex: 1 1 auto; }
.flex-nogrow { flex-grow: 0; }

@each $bp-label, $bp-width in $breakpoint-map {
  $bp-label-final: '';

  @for $i from 1 through $g-grid-columns {
    $perc-width: percentage($i/$g-grid-columns);

    @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

    @include larger-than($bp-label) {
      .flex-basis-#{$i}#{$bp-label-final} {
        flex-basis: $perc-width;
        max-width: $perc-width;
      }
    }
  }
}

@each $bp-label, $bp-width in $breakpoint-map {
  $bp-label-final: '';

  @if ($bp-label != 'xs') { $bp-label-final: '-' + $bp-label; }

  @include larger-than($bp-label) {
    .flex-wrap#{$bp-label-final} { flex-wrap: wrap; }
    .flex-nowrap#{$bp-label-final} { flex-wrap: nowrap; }
    .flex-row#{$bp-label-final} { flex-direction: row; }
    .flex-row-reverse#{$bp-label-final} { flex-direction: row-reverse; }
    .flex-column#{$bp-label-final} { flex-direction: column; }
    .flex-column-reverse#{$bp-label-final} { flex-direction: column-reverse; }

    .flex-align-start#{$bp-label-final} { align-items: flex-start; }
    .flex-align-center#{$bp-label-final} { align-items: center; }
    .flex-align-end#{$bp-label-final} { align-items: flex-end; }
    .flex-align-baseline#{$bp-label-final} { align-items: baseline; }
    .flex-align-stretch#{$bp-label-final} { align-items: stretch; }

    .flex-align-self-start#{$bp-label-final} { align-self: flex-start; }
    .flex-align-self-center#{$bp-label-final} { align-self: center; }
    .flex-align-self-end#{$bp-label-final} { align-self: flex-end; }
    .flex-align-self-baseline#{$bp-label-final} { align-self: baseline; }
    .flex-align-self-stretch#{$bp-label-final} { align-self: stretch; }

    .flex-justify-start#{$bp-label-final} { justify-content: flex-start; }
    .flex-justify-center#{$bp-label-final} { justify-content: center; }
    .flex-justify-end#{$bp-label-final} { justify-content: flex-end; }
    .flex-justify-between#{$bp-label-final} { justify-content: space-between; }
    .flex-justify-around#{$bp-label-final} { justify-content: space-around; }

    .flex-center#{$bp-label-final} {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
