@import "../_tools/calc.scss";

// All layout variables, such as spacing, layering, and others. Not grid ones, which refer to screen sizes and dimensions.

// For pulling specific spacing values
// Can be used for margins or padding
@function spacing($space: 'base') {
  @if map-has-key($spacing-map, $space) {
    @return map-get($spacing-map, $space);
  }
}

// For pulling z-index values
@function z-index($index: 'base') {
  @if map-has-key($z-layers, $index) {
    @return map-get($z-layers, $index);
  }
}

$g-base-spacing: rem(16px);

$spacing-map: (
  none   : 0,
  quad   : decimal-round(($g-base-spacing * 4), 2),
  triple : decimal-round(($g-base-spacing * 3), 2),
  double : decimal-round(($g-base-spacing * 2), 2),
  oneHalf : decimal-round(($g-base-spacing * 1.5), 2),

  base   : decimal-round($g-base-spacing, 2),

  half   : decimal-round(($g-base-spacing / 2), 2),
  third  : decimal-round(($g-base-spacing / 3), 2),
  quart  : decimal-round(($g-base-spacing / 4), 2)
);

$z-layers: (
  bottomless-pit: -9999,
  default: 1,
  dropdown: 3000,
  overlay: 4000,
  modal: 4001
);