@import '../_tools/modular-scale';

// All typography variables

// For pulling any typography values
// For most no base is set so it always needs two values
@function type($type-var, $val: 'base') {
  @if map-has-key($typography-map, $type-var) {
    @return map-get(map-get($typography-map, $type-var), $val);
  }
}

// Modular Scale variables
$g-modular-scale--base: spacing();
$g-modular-scale--ratio: 1.25; // Major third


// Font families
$g-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$g-font-family-header: 'Futura', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$g-font-family-mono: "Bitstream Vera Sans Mono", "Consolas", "Courier", monospace;




$typography-map: (
  font-family: (
    base: $g-font-family-base,
    header: $g-font-family-header,
    mono: $g-font-family-mono
  ),

  font-size: (
    h1: decimal-round(modular-scale(5), 2),
    h2: decimal-round(modular-scale(4), 2),
    h3: decimal-round(modular-scale(3), 2),
    h4: decimal-round(modular-scale(2), 2),
    h5: decimal-round(modular-scale(1), 2),
    h6: decimal-round(modular-scale(0), 2),
    large: decimal-round(modular-scale(0), 2),
    p: decimal-round(modular-scale(0), 2),
    small: decimal-round(modular-scale(-1), 2),
    tiny: decimal-round(modular-scale(-2), 2)
  ),

  font-weight: (
    bold: 700,
    base: 400,
    light: 100
  ),

  line-height: (
    h1: decimal-round(modular-scale(3), 2),
    h2: decimal-round(modular-scale(3), 2),
    h3: decimal-round(modular-scale(3), 2),
    h4: decimal-round(modular-scale(2), 2),
    h5: decimal-round(modular-scale(2), 2),
    h6: decimal-round(modular-scale(2), 2),
    p: decimal-round(modular-scale(2), 2),
    small: decimal-round(modular-scale(1), 2),
    tiny: decimal-round(modular-scale(1), 2)
  ),

  margin: (
    h1: 0 0 spacing(half),
    h2: 0 0 spacing(half),
    h3: 0 0 spacing(half),
    h4: 0 0 spacing(third),
    h5: 0 0 spacing(third),
    h6: 0 0 spacing(third),
    p: 0 0 spacing() 0,
    small: 0 0 spacing(half),
    tiny: 0 0 spacing(half)
  )
);