.buttons {
  composes: margin-b-oneHalf flex flex-align-center flex-justify-center flex-column flex-row-sm from '../styles/layout.css';
}

.text {
  composes: text-center from '../styles/type.css';
}

.doors {
  composes: margin-b-oneHalf flex flex-column flex-row-sm from "../styles/layout.css";
}

.tallies {
  composes: flex flex-column flex-row-sm from "../styles/layout.css";
}
