.container {
  composes: font-size-small font-family-mono from "../styles/type.css";

  composes: padding-base padding-y-double-md from "../styles/layout.css";
  composes: bg-mono-lighter from "../styles/colors.css";
}